<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            font-size: 40px;
        }
        input{
            width: 200px;
            height: 40px;
            border: 1px solid #000000;
            font-size: 40px;
        }
    </style>
</head>
<body>
<input type="text" id="txt">
<div id="div"></div>
<!--<button>按钮1</button>
<button>按钮2</button>
<button>按钮3</button>
<button>按钮4</button>-->
<script src="js/index.js"></script>
</body>
</html>