<% include pub/head.pub.ejs%>

<style>
    body{
        text-align: center;
    }
</style>
<div class="container">
    <img src="/img/404.jpg" alt="">
</div>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>