<% include pub/head.pub.ejs%>

<div class="container">
    <div class="row">
        <% for(var i=0; i<albums.length; i++){%>
        <div class="col-xs-6 col-md-3">
            <a href="/<%= albums[i]%>" class="thumbnail">
                <img src="/img/wenjianjia.jpg" alt="...">
            </a>
            <h4 class="text-center"><%=albums[i]%></h4>
        </div>
        <%}%>
    </div>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>