<div class="container">
    <hr>
    <footer>
        <p>&copy; 2017 my weibo</p>
    </footer>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>