<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>圆梦源：勿忘初心，方得始终</title>
</head>
<body>
<form action="/abc">
    <label>
        username: <input type="text" placeholder="请输入用户名" name="user">
        password: <input type="password" placeholder="请输入密码" name="pass">
        <input type="submit" value="提交">
    </label>
</form>
</body>
</html>